@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import "var.scss";

@mixin clear-default-trash {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $qq_green;
  color: white;
  font-size: 20px;
}

.input {
  display: flex;
  background: $almost_white;
  box-shadow: $shadow;
  border-radius: 15px;
  height: 45px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.form {
  @include clear-default-trash;
  font-size: larger;
  color: $grey;
  width: 100%;
}

.submit-button {
  background-color: $qq_orange;
  margin: 15px;
  width: 130px;
  box-shadow: $shadow;
  border-radius: 12px;
  color: $almost_white !important;
  height: 45px;
  text-align: center;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &-wide {
    @extend .submit-button;
    width: 230px;
    background: #2ea0f8;
  }

  &-spinning {
    @extend .submit-button-wide;
    width: 300px;
    margin-top: 7%;
    background: #32ee7f;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-block {
  display: flex;
  align-items: center;
  margin-top: 10%;
  flex-direction: column;
}

.home-background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
  height: 88%;
  background-color: $qq_green_light;
  border-radius: 0 50% 50% 0;
  box-shadow: inset $shadow;
  z-index: -1;
}

.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  cursor: pointer;

  div {
    width: 200px;
  }

  a {
    width: 200px;
    color: inherit;
    @include clear-default-trash;
  }
}

@media (max-width: 575.98px) {
  .input-block {
    margin-top: 30%;
  }
  .input {
    width: 70%;
    height: 40px;
  }

  .home-background {
    bottom: 33%;
    width: 98%;
    height: 53%;
  }

  .submit-button-spinning {
    margin-top: 20%;
  }
}
