@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@import "var.scss";

@mixin clear-default-trash {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $qq_green;
  color: white;
  font-size: 20px;
}

.input {
  display: flex;
  background: $almost_white;
  box-shadow: $shadow;
  border-radius: 15px;
  height: 45px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

.form {
  @include clear-default-trash;
  font-size: larger;
  color: $grey;
  width: 100%;
}

.submit-button {
  @include clear-default-trash;
  background-color: $qq_orange;
  margin: 15px;
  width: 130px;
  box-shadow: $shadow;
  border-radius: 12px;
  color: $almost_white !important;
  height: 45px;
  text-align: center;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;

  &:hover {
    @extend .submit-button;
    width: 140px;
    height: 49px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-block {
  display: flex;
  align-items: center;
  margin-top: 10%;
  flex-direction: column;
}

.id-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45%;
  height: 88%;
  background-color: $qq_green_light;
  border-radius: 0 50% 50% 0;
  box-shadow: inset $shadow;
  z-index: -1;
}

.navbar {
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: space-around;
  user-select: none;

  &-logo {
    @extend .navbar;
    flex-direction: column;
    width: 20%;
  }

  &-mid {
    @extend .navbar;
    width: 60%;
    align-items: center;
    padding-top: 12px;

    div {
      width: 33%;
    }

    a {
      @include clear-default-trash;
      color: inherit;
      width: 33%;
    }
  }

  &-acc {
    @extend .navbar;
    width: 20%;
    flex-direction: column;
    align-items: flex-end;
  }
}

.signup-btn {
  display: flex;
  min-width: 130px;
  height: 50px;
  text-align: center;
  background: $almost_white;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  border-radius: 15px;
  color: #555555;
  width: fit-content;
  margin: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .input-block {
    margin-top: 30%;
  }
  .input {
    width: 70%;
    height: 40px;
  }

  .home-background {
    bottom: 33%;
    width: 98%;
    height: 53%;
  }

  .submit-button-spinning {
    margin-top: 20%;
  }
}
