$qq_green: #83E4C1;
$qq_green_light: #ACEED6;
$almost_white: #f3f3f3;
$qq_orange: #EDB734;
$grey: #858585;
$shadow: 0 4px 4px rgb(0 0 0 / 25%);

@mixin clear-default-trash {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  text-decoration: none;
}